<div id="content_header" class="nav">
    <ul>
        <li>
            <a href="welcome.htm"><i>ホーム</i></a>
        </li>
        <li>
            <a href="profile.htm"><i>ぺやんぐについて</i></a>
        </li>
        <li>
            <a href="artifacts.htm"><i>ぺやんぐの成果物</i></a>
        </li>
        <li>
            <a href="100que.htm"><i>100質</i></a>
        </li>
        <li>
            <a href="lucky.htm"><i>キリ番・キリリク</i></a>
        </li>
        <li>
            <a href="scores.htm"><i>楽譜置き場</i></a>
        </li>
        <li>
            <a href="books.htm"><i>私本たち</i></a>
            <font style="color: #f87171">&lt;- NEW!</font>
        </li>
        <li>
            <a href="contact.htm"><i>お問い合わせ</i></a>
        </li>
    </ul>
    <hr />
</div>
