<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta
    content="
    ぺやんぐのホームページ兼青果物掲載ページ兼ネタ貯蔵庫です。
    主に2000年代に流行ったネタを消化しています。
    インターネット老人会用の古のホームページ。
    キリ番を踏んだ方は掲示板で報告してください。踏み逃げは禁止です！"
    name="description"
/>
<meta
    content="ぺやんぐ, peyang, Peyang, インターネット老人会,
    2000年代, 古のホームページ, キリ番"
    name="keywords"
/>
<meta content="ぺやんぐ" name="author" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://peya.tokyo/" />
<meta property="og:site_name" content="ぺやんぐのホームページ" />
<meta
    property="og:description"
    content="
    ぺやんぐのホームページ兼青果物掲載ページ兼ネタ貯蔵庫です。
    主に2000年代に流行ったネタを消化しています。
    インターネット老人会用の古のホームページ。
    キリ番を踏んだ方は掲示板で報告してください。踏み逃げは禁止です！"
/>
<meta property="og:locale" content="ja_JP" />
<meta property="og:image" content="https://peya.tokyo/ogp.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/png" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@peyang9799" />
<meta property="twitter:creator" content="@peyang9799" />
<meta property="twitter:title" content="ぺやんぐのホームページ" />
<meta
    property="twitter:description"
    content="ぺやんぐのホームページ兼青果物掲載ページ兼ネタ貯蔵庫です。インターネット老人会用の古のホームページ。キリ番を踏んだ方は掲示板で報告してください。踏み逃げは禁止です！"
/>
<meta property="twitter:image" content="https://peya.tokyo/ogp.png" />
<meta property="twitter:image:width" content="1200" />
<meta property="twitter:image:height" content="630" />
