.nav > ul {
    padding: 0;
}

a > h2 {
    cursor: pointer;
}

.artifacts {
    padding: 0;
    width: 680px;
}

.artifacts a {
    text-decoration: none;
}

.artifacts ul {
    padding: 0;
}

.artifacts li {
    list-style-type: none;
    text-align: center;
    border: 1px solid #ccc;
    padding-bottom: 10px;
}

.artifact_title {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.artifact_title h2 {
    cursor: pointer;
}

.artifact_attributes {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 658px;
    height: auto;
}
.artifact_attributes tr:nth-child(even) {
    background-color: #101010;
}

.artifact_images {
    display: table-caption;
}

.artifact_images img {
    width: 650px;
    height: auto;
    border: 1px solid #ccc;
    padding: 3px;

    margin: 10px 10px 0;
}

.artifact_list {
    padding: 0;
}
